/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#login-section {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#login-section h3 {
    font-size: 20px;
    margin: 5px; 
}

#login-section h3 a {
    text-decoration: none;
    color: #333;
    position: relative;
    transition: color 0.3s;
}

#login-section h3 a:hover {
    color: #555;
}

#login-section h3 a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

#login-section h3 a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#map {
    width: 80%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Adjust the width as desired */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-body {
    color: #555;
}

#origin-airport-name,
#destination-airport-name {
    font-weight: bold;
    color: #007bff; 
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#world-map {
    width: 100%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.user-destination {
    display: flex;
    align-items: center;
    margin: 20px;
    width: fit-content;
}

.filters {
    display: flex;
    align-items: center;
    margin: 20px;
    width: fit-content;
}

label {
    margin-right: 10px;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

form {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}
